#SimpleBehavior
userIDProxyFile=/home/Public/socialsim/weekly_evals/2018_0612/stats/huajie/repo_centric_arima_06-11-2018/all_repoIDs.csv
hourlyActionRateFile=/home/Public/socialsim/weekly_evals/2018_0612/stats/huajie/repo-replay_06-11-2018/repo_action_rate.csv
objectPreferenceProxyFile=/home/Public/socialsim/weekly_evals/2018_0612/stats/huajie/repo_centric_arima_06-11-2018/user_preference.json
typeDistributionProxyFile=/home/Public/socialsim/weekly_evals/2018_0612/stats/huajie/repo-replay_06-11-2018/repo_type_distribution.csv
countryCodesProxyFile=/home/flamij/github/pattern_cube/clustering/repo_centric_stats/repo_country_codes.json
activityLevelsProxyFile=/home/flamij/github/pattern_cube/clustering/repo_centric_stats/repo_activity_levels.json
ccStatsProxyFile=/home/flamij/github/pattern_cube/clustering/repo_centric_stats/cc_stats/