#SimpleBehavior
userIDProxyFile=/home/flamij/SocialSim/SocialCube/statistics/user_id.json
hourlyActionRateProxyFile=/home/flamij/SocialSim/SocialCube/statistics/user_action_rate.json
objectPreferenceProxyFile=/home/flamij/SocialSim/SocialCube/statistics/user_object_preference.json
typeDistributionProxyFile=/home/flamij/SocialSim/SocialCube/statistics/user_type_distribution.json
countryCodesProxyFile=/home/flamij/SocialSim/SocialCube/statistics/country_codes.json
activityLevelsProxyFile=/home/flamij/SocialSim/SocialCube/statistics/user_activity_levels.json
ccStatsProxyFile=/home/flamij/SocialSim/SocialCube/statistics/cc_stats/