#SimpleBehavior
userIDProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/user_centric_arima_06-18-2018/all_userIDs.csv
hourlyActionRateProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/user_centric_arima_06-18-2018/user_action_rate.csv
objectPreferenceProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/user_centric_arima_06-18-2018/object_preference.json
typeDistributionProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/user_centric_arima_06-18-2018/user_type_distribution.csv
countryCodesProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/user_centric_arima_06-18-2018/country_codes.json
activityLevelsProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/user_centric_arima_06-18-2018/user_activity_levels.json
ccStatsProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/user_centric_arima_06-18-2018/cc_stats/