#SeedCascadeModel
userIDProxyFile=../statistics/commentProbabilityProxyFile.txt
postScaleProxyFile=../statistics/postScaleProxyFile.txt
commentProbabilityProxyFile=../statistics/commentProbabilityProxyFile.txt
postLifespanDistributionProxyFile=../statistics/postLifespanDistributionProxyFile.txt
communityDistributionProxyFile=../statistics/communityDistributionProxyFile.txt
seedEventsProxyFile=../statistics/seedEventsProxyFile.txt
miscellaneousProxyFile=../statistics/miscellaneousProxyFile.txt