#DailySimpleBehavior
userIDProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/repo_centric_arima_06-18-2018/all_repoIDs.csv
dailyActivityLevelProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/repo_centric_arima_06-18-2018/repo_action_rate.csv
objectPreferenceProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/repo_centric_arima_06-18-2018/user_preference.json
typeDistributionProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/repo_centric_arima_06-18-2018/repo_type_distribution.csv
countryCodesProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/repo_centric_arima_06-18-2018/repo_country_codes.json
activityLevelsProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/repo_centric_arima_06-18-2018/repo_activity_levels.json
ccStatsProxyFile=/home/Public/socialsim/weekly_evals/2018_0619/stats/flamij/repo_centric_arima_06-18-2018/cc_stats/