#SimpleBehavior
userIDProxyFile=/Users/Flamino/Virtualenvs/simulator_core/SocialCube/statistics3/user_id.json
hourlyActionRateFile=/Users/Flamino/Virtualenvs/simulator_core/SocialCube/statistics3/user_action_rate.json
objectPreferenceProxyFile=/Users/Flamino/Virtualenvs/simulator_core/SocialCube/statistics3/user_object_preference.json
typeDistributionProxyFile=/Users/Flamino/Virtualenvs/simulator_core/SocialCube/statistics3/user_type_distribution.json
countryCodesProxyFile=/Users/Flamino/Virtualenvs/simulator_core/SocialCube/statistics3/country_codes.json
activityLevelsProxyFile=/Users/Flamino/Virtualenvs/simulator_core/SocialCube/statistics3/user_activity_levels.json
ccStatsProxyFile=/Users/Flamino/Virtualenvs/simulator_core/SocialCube/statistics3/cc_stats/