#IntegratedPoissonProcess
userDistributionProxyFile=/statistics/july_data/repo_ids_freq.csv
objectIDProxyFile=/statistics/july_data/poisson_ids.txt
poissonProcessStatsProxyFile=/statistics/july_data/poisson_stats.txt

#IntegratedPointProcess
userDistributionProxyFile=/statistics/july_data/repo_ids_freq.csv
objectIDProxyFile=/statistics/july_data/hawkes_ids.txt
pointProcessStatsProxyFile=/statistics/july_data/hawkes_stats.txt
